nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s; }

nav.hiding {
  transform: translateY(-100%); }

nav.showing {
  background-color: rgba(25, 71, 105, 0.7);
  height: 100px;
  padding: 10px 100px; }

nav ul {
  font-size: 1.2rem;
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex; }

nav ul li {
  list-style: none; }

nav ul li a {
  line-height: 80px;
  color: rgba(81, 173, 207, 0.5);
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s; }

nav.showing ul li a {
  color: rgba(246, 246, 233, 0.5); }

nav ul li a:focus {
  outline: none; }

/*
nav ul li a.active {
  background-color: #FF7A8A;
  color: #fff;
  border-radius: 6px;
}
*/
nav ul li a:hover {
  color: #F2855E; }

.menu-open-button {
  background: #F2855E;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out .3s;
  transition: -webkit-transform ease-out .3s;
  transition: transform ease-out .3s;
  transition: transform ease-out .3s, -webkit-transform ease-out .3s; }

.menu-open {
  display: none; }

.lines {
  width: 25px;
  height: 3px;
  background: #596778;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }

.line-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0); }

.line-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.line-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0); }

.menu-open:checked + .menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg); }

.menu-open:checked + .menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1); }

.menu-open:checked + .menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg); }

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); }

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0); }

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0); }

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33); }

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
  transform: translate3d(0.08361px, -104.99997px, 0); }

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(90.9466px, -52.47586px, 0); }

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(90.9466px, 52.47586px, 0); }

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(0.08361px, 104.99997px, 0); }

.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  -webkit-transition-duration: 580ms;
  -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
  transform: translate3d(-90.86291px, 52.62064px, 0); }

.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
  transform: translate3d(-91.03006px, -52.33095px, 0); }

.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  -webkit-transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0); }

/*Style for round menu*/
.menu-item {
  background: #EEEEEE;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  color: #FBF2D5;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out .3s;
  transition: -webkit-transform ease-out .3s;
  transition: transform ease-out .3s;
  transition: transform ease-out .3s, -webkit-transform ease-out .3s; }

.menu {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px; }

.menu-item:hover {
  background: #EEEEEE;
  color: #3290B1; }

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.item-1 {
  background-color: #404b69;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.item-1:hover {
  color: #669AE1;
  text-shadow: none; }

.item-2 {
  background-color: #F2855E;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.item-2:hover {
  color: #70CC72;
  text-shadow: none; }

.item-3 {
  background-color: #7FA99B;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.item-3:hover {
  color: #FE4365;
  text-shadow: none; }

.item-4 {
  background-color: #404b69;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.item-4:hover {
  color: #C49CDE;
  text-shadow: none; }

.item-5 {
  background-color: #F2855E;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.item-5:hover {
  color: #FC913A;
  text-shadow: none; }

.item-6 {
  background-color: #7FA99B;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.item-6:hover {
  color: #62C2E4;
  text-shadow: none; }

.bg-page-one {
  width: 100%;
  height: 100vh;
  background-image: url("../images/hello-bg.jpeg");
  opacity: .9;
  background-repeat: no-repeat;
  background-size: cover; }

#name {
  position: absolute;
  height: 57px;
  width: 40%;
  margin-left: 3%;
  text-align: center;
  background-color: rgba(219, 237, 243, 0.6);
  color: rgba(57, 74, 81, 0.8);
  border-radius: 5px;
  font-size: 3rem;
  font-weight: 500;
  animation: 2s fadeIn; }

#subtitle {
  position: absolute;
  height: 40px;
  width: 30%;
  margin-top: 125px;
  margin-left: 3%;
  text-align: center;
  background-color: rgba(242, 133, 94, 0.5);
  color: rgba(251, 242, 213, 0.6);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 300;
  animation: 4s fadeIn; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (max-width: 1100px) {
  .bg-page-one {
    width: 100%;
    height: 100vh;
    background-image: url("../images/hello-bg.jpeg");
    opacity: .9;
    background-repeat: no-repeat;
    background-size: cover; }
  #name {
    position: absolute;
    height: 100px;
    width: 40%;
    margin-left: 3%;
    text-align: center;
    background-color: rgba(219, 237, 243, 0.6);
    color: rgba(57, 74, 81, 0.8);
    border-radius: 5px;
    font-size: 2.7rem;
    font-weight: 500;
    animation: 2s fadeIn; }
  #subtitle {
    position: absolute;
    height: 80px;
    width: 30%;
    margin-top: 160px;
    margin-left: 3%;
    text-align: center;
    background-color: rgba(242, 133, 94, 0.5);
    color: rgba(251, 242, 213, 0.6);
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 300;
    animation: 4s fadeIn; } }

@media (max-width: 767px) {
  .bg-page-one {
    width: 100%;
    height: 100vh;
    background-image: url("../images/hello-bg-small.jpeg");
    opacity: .9;
    background-repeat: no-repeat;
    background-size: cover; }
  #name {
    position: absolute;
    height: 110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(219, 237, 243, 0.6);
    color: rgba(57, 74, 81, 0.8);
    font-size: 3rem;
    font-weight: 500;
    animation: 2s fadeIn; }
  #subtitle {
    position: absolute;
    height: 40px;
    width: 100%;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(242, 133, 94, 0.5);
    color: rgba(251, 242, 213, 0.6);
    font-size: 2rem;
    font-weight: 300;
    animation: 4s fadeIn; } }

.bg-page-2 {
  background-color: #FBF2D5;
  width: 100%;
  height: 100vh;
  margin-top: -22px; }

.bg-page-3 {
  background-color: #7FA99B; }

* {
  box-sizing: border-box; }

.portfolio {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.port-flex-row {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px 0 20px;
  transition: all 800ms ease-in;
  transform: scale(1.03); }

.js-row-animate {
  opacity: 1;
  transform: scale(1); }

.port-items {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 10px;
  margin: 70px;
  width: 30%;
  background-color: #FBF2D5;
  border: 1px #7FA99B;
  text-align: center; }

img {
  max-width: 100%; }

.bg-page-4 {
  background-image: url("../images/waving-cat.jpg");
  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

body, html {
  height: 100%;
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  color: #FBF2D5; }

/*
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(0);
  }
}
*/
