.about {
	background-color: rgba(78, 65, 59, .1);
	width: 100%;
	margin-top: 0px;
	overflow: hidden;
}

.about-photo {
	float: left;
	width: 50%;
	margin-right: 40px;
}

.about-header {
	font-family: 'Amatic SC', cursive;
	font-size: 6rem;
	color: $orange;
	text-shadow: 3px 3px $navyblue;
	margin-top: 0;
	margin-bottom: 0;
}

.about p {
	font-size: 1.5rem;
	line-height: 1.5;
	color: $navyblue;
	margin-left: 40px;
	margin-right: 30px;
	margin-top: 0;
}
