.my-design-style {
  background-color: $cream;
  width: 100%;
  height: 100vh;

  h2 {
	color: rgba(57, 74, 81, 0.8);
	text-align: center;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 70px;
	font-size: 2rem;
	font-weight: 300;
	line-height: 2;
	}
}

.tool-flex-icons {
  opacity: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px 0 30px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.tool-items {
	color: $greyopacity;
	font-size: 6rem;
}


