
/** {
    box-sizing: border-box;
}*/

.portfolio {
  width: 100%;  
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../images/workspace.jpg);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.port-flex-row {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px 0 20px;
  transition: all 800ms ease-in;
  transform: scale(1.03);
}

.js-row-animate {
  opacity: 1;
  transform: scale(1);
}

.port-items {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 
    padding: 10px;
    margin: 70px;
    width: 30%;
    background-color: rgba(57, 74, 81, .5);
    border-radius: 8px;
    text-align: center;
}

img {max-width:100%;}
