// Variables

//// Colors
$cream: #FBF2D5;
$green: #7FA99B;
$orange: #F2855E;

////Menu Colors
$darkblue: #283149;
$navyblue: #404b69;
$red: #f73859;
$lightblue: #dbedf3;
$peach: #fdc57b;



//// Other
$main-font: 'Quicksand', sans-serif;